header { display: flex;}
.nav-back { background-color: #fb832f;}
form {height: max-content; margin-bottom: 0px; margin-right: 0px;}
#home, #menu1, #menu2, #menu3, #menu4, #menu5, #leadership, #vision, #ranking { margin-bottom: 100px; }
.text-ttl { color: #f25245;}
.btn-text { color: white;}
.btn-text:hover { color: white;}
.years { list-style: none;}
.year-item { text-decoration: none; color: black;}
.college { font-family: 'Times New Roman', Times, serif;}
hr { width: 245px; opacity: 1;}
footer { display: flex; flex-direction: row; position: absolute;}
.footer {
    background-color: black;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img {
    margin: 30px 30px;
}
